<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
	</head>
	<body>
		<div class="row" th:fragment="content">
	        <div class="col-md-12">
				<div class="jumbotron">
					<h2>Spring Framework</h2>
					<p class="lead">Spring Data JPA, Thymeleaf and Mockito</p>
				</div>
		
				<div class="row">
					<div class="col-md-12">
						<p>
							<a th:href="@{user/list}">View list users &raquo;</a>
						</p>
						<p>
							<a th:href="@{user/list-json}">View list users by ajax &raquo;</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>